{% extends "layout.html" %}

{% block pageTitle %}
  {% if errorList.length > 0 %}
    Error:
  {% endif %}
  Company authentication
{% endblock %}

{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: "sign-in"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if errorList.length > 0 %}
        {{ govukErrorSummary({
          titleText: "Enter the company authentication code",
          errorList: errorList
        }) }}
      {% endif %}
      <h1 class="govuk-heading-xl">Enter the company authentication code</h1>
      <p class="govuk-body">This is a 6 character code issued by us to each company. You need the code to submit information online for {{ scenario.company.name }}.</p>
      <form action="" method="post">
        {% if authCodeErr.flag %}
          {{ govukInput({
            label: {
              text: "Authentication code"
            },
            errorMessage: {
              text: authCodeErr.text,
              href: authCodeErr.href
            },
            id: "auth-code",
            name: "authCode",
            value: authCode,
            type: 'password',
            classes: 'govuk-input--width-20'
          }) }}
        {% else %}
          {{ govukInput({
            label: {
              text: "Authentication code"
            },
            id: "auth-code",
            name: "authCode",
            value: authCode,
            type: 'password',
            classes: 'govuk-input--width-20'
          }) }}
        {% endif %}

        {% if scenario.company.persistentlyLate === 'yes' %}
          {{ govukButton({
  text: "Continue",
  href: "/persistently-late"
}) }}
        {% else %}
          {{ govukButton({
          text: "Continue"
        }) }}

        {% endif %}

      </form>
    </div>
  </div>
    <p>  <a href="https://www.gov.uk/guidance/company-authentication-codes-for-online-filing" class="govuk-link" target="_blank">How to request an authentication code (opens in a new tab)</a><p></p>
{% endblock %}
