{% extends "layout.html" %}

{% block pageTitle %}
  {% if errorList.length > 0 %}
    Error:
  {% endif %}
  Promise to file
{% endblock %}

{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: "sign-in"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if errorList.length > 0 %}
        {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
      {% endif %}
      <h1 class="govuk-heading-xl">You cannot use this service</h1>

      <p>The accounts and confirmation statement for BAD NEWS LIMITED have been filed and are up to date. This service is for companies with overdue filings.</p>
      <p>If you're unable to meet your filing deadline, you can
        <a href="https://beta.companieshouse.gov.uk/extensions">apply for an extension</a>.</p>
      <p>If BAD NEWS LIMITED is not required, you should
        <a href="https://www.gov.uk/topic/company-registration-filing/closing-company">close the company</a>
        so that it is removed from the register.
        <p>
          <a href="https://www.gov.uk/government/organisations/companies-house/about/access-and-opening#cdf-addrs">Contact us</a>
          if you need to give us information about exceptional circumstances that could mean you need reasonable adjustments.</p>
      </div>
    </div>
  {% endblock %}