{% extends "layout.html" %}

{% block pageTitle %}
  {% if errorList.length > 0 %}
    Error:
  {% endif %}
  Tell us if
  {{scenario.company.name}}
  is required
{% endblock %}

{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: "sign-in"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if errorList.length > 0 %}
        {{ govukErrorSummary({
          titleText: "There was a problem with the answer you gave us",
          errorList: errorList
        }) }}
      {% endif %}

      {% set titleHTML %}
      Is
      {{scenario.company.name}}
      still required?
      {% endset %}

      <form action="" method="post">
        {{ govukRadios({
              classes: "govuk-radios--inline",
              idPrefix: "want-company",
              name: "wantCompany",
              errorMessage: wantCompanyError,
              fieldset: {
                legend: {
                  text: titleHTML,
                  isPageHeading: true,
                  classes: 'govuk-fieldset__legend--xl'
                }
              },
              items: [
              {
                value: "yes",
                text: "Yes"
              },
              { value: "no",
              text: "No"
            }
            ]
          })
        }}
        {{ govukButton({
            text: "Continue"
          }) }}
      </form>
    </div>
  </div>

{% endblock %}