{% extends "layout.html" %}

{% block pageTitle %}
  {% if errorList.length > 0 %}
    Error:
  {% endif %}
  Tell us if you intend to file by
  {{scenario.company.newDeadline}}
{% endblock %}

{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: "sign-in"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if errorList.length > 0 %}
        {{ govukErrorSummary({
          titleText: titleHTML,
          errorList: errorList
        }) }}
      {% endif %}

      {% set titleHTML %}
      Will you file for
      {{scenario.company.name}}
      by
      {{scenario.company.newDeadline}}?
      {% endset %}

      <form action="" method="post">

        {{ govukRadios({
              classes: "govuk-radios--inline",
              idPrefix: "file-by-deadline",
              name: "fileByDeadline",
              errorMessage: fByCompanyError,
              fieldset: {
                legend: {
                  text: titleHTML,
                  isPageHeading: true, classes: 'govuk-fieldset__legend--xl' } }, items: [ { value: "yes", text: "Yes" }, { value: "no", text: "No" } ] }) }}

        {{ govukButton({
              text: "Continue"
            }) }}
      </form>
    </div>
  </div>

{% endblock %}