{% extends "layout.html" %}

{% block pageTitle %}
  {% if errorList.length > 0 %}
    Error:
  {% endif %}
  Tell us why you haven't filed yet
{% endblock %}

{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: "sign-in"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if errorList.length > 0 %}
        {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
      {% endif %}
      <h1 class="govuk-heading-xl">Why haven't you filed yet?</h1>
      <form action="" method="post">
        {% if Err.flag %}
          {{ govukTextarea({
              name: "Information",
              id: "information",
              rows: '8',
              label: {
                text: "Anything you tell us to support your application will be kept confidential.",
                isPageHeading: true,
                classes: 'govuk-heading-large'
              },
              errorMessage: {
                text: "Enter information"
              }
            }) }}
        {% else %}
          {{ govukTextarea({
              name: "Information",
              id: "information",
              value: info,
              rows: '8',
              label: {
                text: "Anything you tell us to support your application will be kept confidential.",
                isPageHeading: true,
                classes: 'govuk-heading-large'
              }
            }) }}
        {% endif %}

        {{ govukButton({
              text: "Continue"
            }) }}

      </form>
    </div>
  </div>
</main>
</div>

{% endblock %}