{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block pageTitle %}
  You cannot use this service
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">You cannot use this service</h1>

      <p>The company
        {{scenario.company.name}}
        has a no appointed directors. Companies must have at least one director.</p>

      <p>
        <a href="https://www.gov.uk/government/publications/appoint-a-director-ap01">Appoint a director</a>
        before using this service.</p>

      <h2 class="govuk-heading-m">Contact us</h2>
      <p class="govuk-body">
        Telephone: 0303 1234 500<br/>
        Contact Centre lines are open between 8.30am to 5pm (Monday to Friday).<br/>
      </p>

      <p class="govuk-body">
        <a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns/feedback-pages.html" class="govuk-link">What did you think of this service?</a>
        (takes 30 seconds)
      </p>
    </div>
  </div>

{% endblock %}