{% extends "layout.html" %}

{% block pageTitle %}
  {% if errorList.length > 0 %}
    Error:
  {% endif %}
  Promise to file
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">You've told us
          {{scenario.company.name}}
          is no longer required</h1>
      </div>

      <!-- <p>Your filing due date for the {{scenario.company.reason}} was {% if scenario.company.reason === 'confirmation statement' %} {{scenario.company.csDue}} and is now overdue. {% else %} {{ scenario.company.accountsDue }} and is now overdue.
      {{scenario.company.reason | capitalize}} filed late are subject to <a href="https://www.gov.uk/annual-accounts/penalties-for-late-filing">a penalty</a>. The current penalty for {{ scenario.company.name }} is {{ scenario.company.currentPenalty }} and
      the penalty will increase over time. You should file as soon as possible. {% endif %} </p> -->

      <h2 class="govuk-heading-m">What happens next</h2>
      <p>You should
        <a href="http://resources.companieshouse.gov.uk/close-a-company/index.html">close the company</a>
        so that it is removed from the register. When you have closed the company, we will no longer pursue the overdue
        {{ scenario.company.reason }}.</p>
      <p>If you do not close the company and do not file your overdue
        {{ scenario.company.reason }}, we may prosecute the company directors.
      </p>

      {% if scenario.company.reason !== 'confirmation statement' %}
        <p>
          If
          {{scenario.company.name}}
          files its accounts, it will receive a
          <a href="https://www.gov.uk/annual-accounts/penalties-for-late-filing">late filing penalty</a>
          that increases over time until the company is closed.</p>
      {% endif %}

      <p class="govuk-body">
        <a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns/feedback-pages.html" class="govuk-link">What did you think of this service?</a>
        (takes 30 seconds)
      </p>
    </div>
  </div>
{% endblock %}