{% extends "layout.html" %}

{% block pageTitle %}
  Print a copy of your application
{% endblock %}
{% block beforeContent %}
  {{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
  {{ govukBackLink({
  text: "Back",
  href: "confirmation"
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">{{ scenario.company.name }}
          intends to file its
          {{ scenario.company.reason }}</h1>
        <div class="govuk-panel__body">
          Your reference number is the company number<br>
          <strong>{{ scenario.company.number }}</strong>
        </div>
      </div>

      <h2 class="govuk-heading-m">What happens next</h2>
      <p>You have 28 days to file the
        {{ scenario.company.reason }}
        before we contact you again.</p>
      <p>It's important that you file the
        {{ scenario.company.reason }}
        as soon as possible. You should not wait until you hear from us again.</p>

      <p>Failure to file confirmation statements or accounts is a criminal offence which can result in directors being fined personally in the criminal courts. Information about the consequences of not filing can be
        <a href="https://www.gov.uk/government/publications/late-filing-penalties/late-filing-penalties#late-filing-penalty-fees">found in our guidance</a>.</p>
    </p>

  </div>
</div>
{% endblock %}