{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block pageTitle %}
  You cannot use this service
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">You cannot use this service</h1>

      <p>The company
        {{scenario.company.name}}
        is already late filing their
        {{scenario.company.reason}}. The company must now
        <a href="https://www.gov.uk/running-a-limited-company">file its overdue
          {{scenario.company.reason}}</a>.</p>
      <p>A company cannot apply for extra time to file if the filing deadline has already passed.</p>
      <p>We will send a letter to the directors of the company soon to warn them that the company could be prosecuted if the accounts are not filed.</p>
      {% if scenario.company.reason !== 'confirmation statement' %}
        <p>The company will receive an automatic
          <a href="https://www.gov.uk/annual-accounts/penalties-for-late-filing">late filing penalty</a>
          as soon as the accounts are filed and accepted because they are already late. The penalty will increase over time until the accounts are filed and applies to all companies, no matter what size or type of business. If the company’s accounts are filed
          late in consecutive years, the penalty will double for that year’s accounts.</p>
      {% else %}
      {% endif %}

      <p class="govuk-body">
        <a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns/feedback-pages.html" class="govuk-link">What did you think of this service?</a>
        (takes 30 seconds)
      </p>
    </div>
  </div>

{% endblock %}