{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block pageTitle %}
  You cannot use this service
{% endblock %}
{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: "continue-trading"
  }) }}
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">You cannot use this service</h1>

      <p>We've already been told that BAD NEWS LIMITED is still required.</p>

      <p class="govuk-body">The company must now
        <a href="https://www.gov.uk/running-a-limited-company">file its overdue accounts or confirmation statement</a>.</p>
      <ul class="govuk-list govuk-list--bullet"></ul>

      <p>If the company's accounts are overdue, it will receive a late filing penalty that increases until it files. If the company's confirmation statement is overdue, it will not receive a penalty.</p>
      <p>
        <a href="https://www.gov.uk/government/organisations/companies-house/about/access-and-opening#cdf-addrs">Contact us</a>
        if you need to give us information about exceptional circumstances that could mean you need reasonable adjustments.</p>
      <p class="govuk-body no-print">
        <a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns/feedback-pages.html" class="govuk-link">What did you think of this service?</a>
        (takes 30 seconds)
      </p>
    </div>
  </div>

{% endblock %}